
<h3>Manage Customers</h3>
<hr >

<div class="card card-5">



<div class="row">
  <div class="col-12 col-md-6">
    <form style="padding: 10px">
      <p>
        <button class="btn btn-success" type="reset" (click)="txtId.focus(); ">+ New Customer</button>
      </p>
      <p class="form-group">
        <label>Customer ID</label>
        <input name="txtId"  #txtId class="form-control"  type="text" [(ngModel)]="selectedCustomer.id" required pattern="C\d{3}$" >
        <button class="btn btn-primary"><li class="fa fa-fw fa-search"></li>Search Customer</button>
      </p>
      <p class="form-group">
        <label>Customer Name</label>
        <input name="txtName" class="form-control" type="text" [(ngModel)]="selectedCustomer.name" required pattern="\w{5}$">
      </p>
      <p class="form-group">
        <label>Customer Address</label>
        <input class="form-control" type="text" [value]="selectedCustomer?.address">
      </p>
      <p >
        <button class="btn btn-primary" >Update Customer</button>
        <button class="btn btn-danger">Delete Customer</button>
        <button class="btn btn-success">Add Customer</button>
      </p>
    </form>
  </div>

  <div class="col-12 col-md-6" style="padding: 30px">
    <table >
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers" (click)="selectedCustomer=customer">
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.address}}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
