<h3>Manage Items</h3>
<hr >


<!--//////////////////////////////////////////////////////////////////////////////////////-->

<div class="card card-5">
<div class="row">
  <div class="col-12 col-md-6">
    <form style="padding: 10px;">
      <!--<p>-->
        <!--<button class="btn btn-success" type="reset" (click)="txtId.focus(); ">+ New Item</button>-->
      <!--</p>-->
      <p class="form-group">
        <label>Code</label>
        <input name="txtId"  #txtId class="form-control" type="text" [(ngModel)]="selectedItem.code" [minlength]="2">

        <button class="btn btn-primary"><li class="fa fa-fw fa-search"></li>Search Item</button>

      </p>
      <p class="form-group">
        <label>Description</label>
        <input class="form-control" type="text" [value]="selectedItem?.description">
      </p>
      <p class="form-group">
        <label>Qentity</label>
        <input class="form-control" type="number" [value]="selectedItem?.unitPrice">
      </p>

      <p class="form-group">
        <label>unit Price</label>
        <input class="form-control" type="number" [value]="selectedItem?.qtyOnHand">
      </p>


      <p >
        <button class="btn btn-primary" >Update Item</button>
        <button class="btn btn-danger">Delete Item</button>
        <button class="btn btn-success">Add Item</button>
      </p>

    </form>
  </div>
  <div class="col-12 col-md-6" style="padding: 30px">




    <table class="table table-hover table-bordered" >
      <tr>
        <th>CODE</th>
        <th>DESCRIPTION</th>
        <th>UNIT PRICE</th>
        <th>QUENTITY ON HAND</th>
      </tr>

      <tbody>

      <tr *ngFor="let i of items" (click)="selectedItem=i">
        <td>{{i.code}}</td>
        <td>{{i.description | uppercase}}</td>
        <td>{{i.unitPrice | number:'1.2-2' }}</td>
        <td>{{i.qtyOnHand | number:'1.2-2'}}</td>
      </tr>
      </tbody>

    </table>


  </div>
</div>

</div>

<!--////////////////////////////////////////////////////////////////////////////////////-->

